<div class="container-fluid overflow-hidden">
    <div class="home-header">
        <div class="shop-with-us">
            <div class="heading"><strong>About Us</strong></div>
            <p>We have the best collection of Electronics Products</p>
            <button class="btn btn-primary">Contact Us</button>
        </div>
    </div>
    <div class="our-products">
        <div class="heading"><strong>Contact Us</strong></div>
        <ol class="no-list-type mt-3 mb-3">
            <li>
                contact@capstone.com <br>
            </li>
            <li>
                +91-11-1111-1111
            </li>
        </ol>
    </div>
</div>