<div class="container-fluid overflow-hidden">
    <div class="home-header">
        <div class="shop-with-us">
            <div class="heading"><strong>Shop With Us</strong></div>
            <p>We have the best collection of Electronics Products</p>
            <button class="btn btn-primary">Start Shoping</button>
        </div>
    </div>
    <div class="our-products">
        <div class="heading"><strong>Our Products</strong></div>
        <p>We deals in Electronics specially in Mobile Phones</p>
    </div>
</div>