<header class="mat-elevation-z8 head">
  <div class="row">
    <div class="col-sm-4 heading">
      <h3>Capstone e-Shop</h3>
      <p>Happy Shopping</p>
    </div>
    <div class="col-sm-4 login">
      <ol class="header-list">
        <li *ngIf="!auth.isLoggedIn()">
          <a (click)="openLoginDialog()">Login</a>&nbsp;
        </li>
        <li *ngIf="!auth.isLoggedIn()">
          &nbsp;|&nbsp;
        </li>
        <li *ngIf="!auth.isLoggedIn()">
          &nbsp;<a (click)="openRegDialog()">Register as New User</a>
        </li>
        <li *ngIf="auth.isLoggedIn()">
          <strong>Welcome {{auth.getUserName()}}</strong>
        </li>
      </ol>
    </div>
    <div class="col-sm-4 account">
      <div class="user">
        <a>
          <mat-icon class="icon-color" matBadge="{{user.getNoOfItems()}}" matBadgeColor="warn">shopping_cart</mat-icon>
          &nbsp;&nbsp;&nbsp;
        </a>
        <a [matMenuTriggerFor]="menu" aria-label="drop Down">
          <mat-icon>keyboard_arrow_down</mat-icon>
          <mat-icon class="icon-settings">account_circle</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="auth.isLoggedIn() && !auth.isAdmin()" (click)=goToMyAccount()>
            <mat-icon>account_circle</mat-icon>
            <span>My Account</span>
          </button>
          <button mat-menu-item *ngIf="!auth.isAdmin() && auth.isLoggedIn()">
            <mat-icon>assignment</mat-icon>
            <span>My Orders</span>
          </button>
          <button mat-menu-item *ngIf="auth.isAdmin() && auth.isLoggedIn()">
            <mat-icon>assignment</mat-icon>
            <span>All Orders</span>
          </button>
          <button mat-menu-item *ngIf="auth.isAdmin() && auth.isLoggedIn()" (click)="goToSalesChart()">
            <mat-icon>timeline</mat-icon>
            <span>Sales Chart</span>
          </button>
          <button mat-menu-item *ngIf="!auth.isAdmin() && auth.isLoggedIn()">
            <mat-icon>favorite</mat-icon>
            <span>My WishList</span>
          </button>
          <button mat-menu-item (click)="onLogout()" *ngIf="auth.isLoggedIn()">
            <mat-icon>history</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
<app-navigation></app-navigation>
<router-outlet></router-outlet>
<footer class="mat-elevation-z8">
  <h4> &copy;copyright 2020 </h4>
  <p> Capstone e-shop </p>
</footer>